<%= turbo_stream_from @room %>
<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @room %>

    <%= link_to 'edit room', edit_room_path(@room), class: "tracking-wide inline-block mr-6 font-medium lowercase text-[#3185fc] hover:cursor-pointer hover:underline hover:text-[#36393b]" %>
    <div class="inline-block ml-2">
      <%= button_to 'destroy room', room_path(@room), method: :delete, class: "tracking-wide inline-block mr-6 font-medium lowercase text-[#3185fc] hover:cursor-pointer hover:underline hover:text-[#36393b]" %>
    </div>
    <%= link_to 'back to rooms', rooms_path, class: "tracking-wide inline-block font-medium lowercase text-[#3185fc] hover:cursor-pointer hover:underline hover:text-[#36393b]" %>
    <%= render "message", room: @room %>
  </div>
</div>
